.modal__new,
.modal__edit {

  .modal-content {
    height: 736px;
  }

  .modal-header {
    padding: 32px;
    border: 0;
  }

  .modal-body {
    padding-top: 0;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }

  .modal-footer {
    padding-right: 32px;

    .btn {
      padding: 8px 32px;
    }
  }
}

.modal__view {
  .modal-content {
    max-width: 480px;
    padding: 32px;
  }

  .modal-img {
    max-width: 141px;
    height: 141px;
    object-fit: cover;
  }

  .collapse-options {
    padding-top: 32px;

    .btn {
      padding-right: 32px;
      padding-left: 32px;
    }
  }
}