.sidebar {
  display: block;
  min-width: 296px;

  .navbar {
    padding-top: $spacer-l;
    padding-bottom: $spacer-l;
    height: calc(100vh);

    &-brand {
      margin-left: $spacer-l;
      margin-bottom: $spacer-l;
      margin-right: 0;
    }

    .nav-item {
      .nav-link {
        padding-right: 0;
        padding-left: $spacer-l;
        color: $gray-900;
      }

      .active {
        color: $success !important;
        padding-left: 28px;
        border-left: 4px solid $success;

        i {
          color: $success;
        }
      }
    }

    .collapse:not(.show) {
      display: block;
    }
  }

  .user {
    margin-left: $spacer-l;

    &__img {
      width: 40px;
      height: 40px;
      border-radius: 24px;
    }
  }
}