.assignment {
  .list-group-item.active {
    background-color: $gray-100;
    border-color: $gray-400;
  }

  .card {
    .card-user {
      margin-right: 32px;
    }

    .user-reply {
      margin-left: 64px;
      margin-right: 32px;
    }

    .card-edit {
      .textarea {
        width: 100%;
        height: 263px;
      }
    }

    .edit_btns {
      bottom: 16px;
      right: 27px;
    }
  }
}