@import './config/variables';

@import './utilities/font';
@import './utilities/text';
@import './utilities/cursor';

@import './base';

@import './component/card';
@import './layout/header';
@import './layout/sidebar';

@import './pages/assignment';
@import './pages/admin';