@import './bootstrap/scss/bootstrap.scss';
@import "./bootstrap/scss/functions";
@import "./bootstrap/scss/variables";
@import "./bootstrap/scss/mixins";


@import './config/variables';

@import './utilities/font';
@import './utilities/text';
@import './utilities/cursor';
@import './utilities/uitilies';

@import './base';

@import './component/card';
@import './component/newModal';
@import './layout/header';
@import './layout/sidebar';

@import './pages/assignment';
// @import './pages/admin';